.computer-monitor-old {
  width: 900px;
  height: 600px;
  background-color: #5e5b5b;
  padding: 30px;
  border-radius: 1%;
}

.computer-screen {
  width: 85%;
  height: 75%;
  background-color: black;
  border: 30px solid #5e5b5b;
  border-radius: 1%;
  z-index: 1;
  margin: auto;
  box-shadow: 10px -5px 3px #363432;
}

.computer-text {
  font-family: Arial;
  padding-top: 55px;
  padding-left: 10px;
  position: absolute;
  top: 0px;
  color: white;
  border-radius: 1%;
}

.computer-stand {
  margin: auto;
  z-index: -1;
}

.computer-stand-neck {
  width: 200px;
  height: 100px;
  background-color: #5e5b5b;
  margin: auto;
  box-shadow: 9px 0px 1px #363432;
  z-index: -1;
}

.computer-stand-base {
  width: 300px;
  height: 50px;
  background-color: #5e5b5b;
  border-radius: 15px;
  margin: auto;
  box-shadow: 10px -2px 3px #363432;
}

/* This is the vertical positining of all the post-its */
.post-it-notes {
  position: relative;
  top: -20px;
  color: #000000;
}

a:link {
  color: #000000;
}

a:visited {
  color: #000000;
}

/* mouse over link */
a:hover {
  color: #5ed5da;
}

.post-it-note {
  width: 120px;
  height: 80px;
  background-color: #ebd288;
  z-index: 5;
  position: absolute;
  border: 1px solid grey;
  font-family: "Kalam", cursive;
  cursor: pointer;
}

.projects-link {
  left: 8%;
  transform: rotate(3deg);
}

#projects {
  font-size: 38px;
  transform: rotate(-9deg);
}

.github-link {
  left: 35%;
  transform: rotate(-3deg);
}

#github {
  font-size: 35px;
  padding-left: 10px;
  padding-top: 15px;
  line-height: 1.2;
}

.top-secret-link {
  left: 70%;
  transform: rotate(-5deg);
}

#top-secret {
  font-size: 29px;
  line-height: 1.2;
  padding-left: 5px;
  padding-top: 5px;
  transform: rotate(3deg);
}

.mascot {
  z-index: 5;
  position: absolute;
  cursor: default;
}

.mascot-body {
  font-size: 10em;
  color: #e2b35d;
  text-shadow: 1px 1px 4px #363432;
  z-index: 5;
  padding-bottom: 30px;
  position: relative;
  bottom: 190px;
}

.mascot-eye {
  position: absolute;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 0px solid #3b3937;
  box-shadow: 1px 1px 3px #363432;
}

.mascot-eye-left {
  left: 40px;
  bottom: 130px;
}

.mascot-eye-right {
  left: 76px;
  bottom: 130px;
}

.mascot-pupil {
  position: relative;
  width: 10px;
  height: 10px;
  left: 8px;
  top: 7px;
  border-radius: 50%;
  background-color: #000000;
  border: solid black;
  border-width: 6px 5px 3px 6px;
}

.mascot-mouth {
  position: absolute;
  left: 60px;
  bottom: 100px;
  width: 20px;
  height: 17px;
  border-radius: 0 0% 50% 50%;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 3px solid #d9a932;
  border-bottom: 3px solid #d9a932;
  transform: rotate(45deg);
}

.mascot-speech-bubble {
  width: 150px;
  height: 100px;
  background-color: #f7f6ca;
  position: relative;
  left: 20px;
  bottom: 475px;
  border-radius: 30%;
  box-shadow: -2px 1px 3px #363432;
}

.mascot-speech-bubble-text {
  color: #000000;
  z-index: 5;
  padding: 13px;
}

.mascot-close {
  width: 2ch;
  height: 2ch;
  position: absolute;
  left: 133px;
  top: 0px;
  border-radius: 50%;
  background-color: #e0ddd3;
  text-align: center;
  box-shadow: -2px 1px 3px #363432;
  cursor: pointer;
}

.mascot-close-text {
  font-size: 0.9rem;
  font-family: Arial;
  font-weight: bold;
}

.mascot-speech-bubble-line {
  width: 28px;
  height: 40px;
  position: absolute;
  left: 80px;
  top: 76px;
  border-radius: 0% 50% 50% 0%;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 18px solid #f7f6ca;
  border-bottom: 0px solid #f7f6ca;
  transform: rotate(5deg);
}

.rubber-ducky {
  position: relative;
  left: 10%;
  bottom: 112px;
  z-index: 5;
}

.rubber-ducky-head {
  width: 65px;
  height: 65px;
  border-top-left-radius: 45px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 47px;
  border-bottom-left-radius: 50px;
  background-color: #f5d142;
  position: relative;
  left: 70px;
  top: 15px;
  box-shadow: -2px 1px 3px #363432;
  z-index: 3;
  cursor: pointer;
}

.rubber-ducky-beak {
  width: 25px;
  height: 15px;
  background-color: #f59942;
  border-top-left-radius: 5%;
  border-top-right-radius: 45%;
  border-bottom-right-radius: 45%;
  border-bottom-left-radius: 5%;
  transform: rotate(-5deg);
  position: relative;
  top: 35px;
  left: 57px;
}

.rubber-ducky-eye {
  width: 15px;
  height: 15px;
  background-color: #ffffff;
  border: 3px solid #3b3937;
  border-radius: 50%;
  position: relative;
  left: 32px;
  top: 5px;
}

.rubber-ducky-pupil {
  width: 2px;
  height: 2px;
  background-color: #ffffff;
  border: solid #3b3937;
  border-width: 7px 5px 2px 5px;
  border-radius: 50%;
  position: relative;
  left: 2px;
  top: 4px;
}

.rubber-ducky-body {
  width: 150px;
  height: 70px;
  background-color: #f5d142;
  border-top-left-radius: 10%;
  border-top-right-radius: 47%;
  border-bottom-right-radius: 33%;
  border-bottom-left-radius: 50%;
  transform: rotate(2deg);
  box-shadow: -2px 0px 3px #363432;
  cursor: pointer;
}

.rubber-ducky-wing {
  width: 50px;
  height: 25px;
  background-color: rubber-ducky-body;
  border: 0px solid #f59942;
  position: relative;
  left: 30%;
  top: 30%;
  border-top-left-radius: 10%;
  border-top-right-radius: 47%;
  border-bottom-right-radius: 33%;
  border-bottom-left-radius: 50%;
  transform: rotate(3deg);
  box-shadow: -2px 1px 3px #363432;
  z-index: 3;
}

/*# sourceMappingURL=index.css.map */
