$bgcolor: #ffffff;
$text: #000000;
$lightgreen: #acffc4;
$lightblue: #adbfff;
$lightorange: #ffc5ad;
$typewriter: "Special Elite", cursive;
$serifdisplay: "DM Serif Display", serif;

body {
	display: grid;
	grid-template-columns: [left-space] 20% [body] auto [right-space] 20%;
	grid-template-rows: [nav] 5% [introduction] 30% [main] auto;
	grid-template-areas:
		". nav ."
		/* ". header ." */
		"introduction introduction introduction"
		"headline headline ."
		". body .";
	/* grid-column-gap: 4ch; */
	width: 100%;
	/* padding-left: 4ch; */
	margin-left: auto;
	margin-right: auto;
	font-family: Arial;
}

header {
	font-size: 2.5em;
	margin-top: 1ch;
	grid-area: header;
}

nav {
	grid-area: nav;
	position: sticky;
	top: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	max-height: 15%;
	scroll-behavior: smooth;
	padding-top: 3ch;
}

nav > a > button {
	border-radius: 20px;
	padding-top: 1.2ch;
	padding-bottom: 1.2ch;
	width: 22ch;
	border: 0px;
	background-color: $lightorange;
	font-size: 1.3em;
	font-family: Arial;
}

main {
	grid-area: body;
	margin-top: 50px;
	display: flex;
	flex-direction: column;
}

.highlight {
	font-weight: bold;
}

.project {
	border: 2px solid black;
	border-radius: 30px;
	padding: 2vh;
	margin-top: 3vh;
	background-color: $lightblue;
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	img {
		object-fit: cover;
		max-width: 300px;
	}
}

.header {
	font-family: $typewriter;
	font-size: 3em;
	margin-top: 0;
}

.headline {
}

.section-marker {
	grid-area: headline;
	background-color: $lightgreen;
	text-align: right;
	width: 800px;
	height: 3.6em;
	position: relative;
	top: -100px;
	left: -50%;
}

h2 {
	padding-top: 1.3em;
	font-size: 3em;
}

h3 {
	font-size: 1.7em;
	margin: 0;
}

h4 {
	font-size: 1.2em;
}

section {
	margin-bottom: 10%;
}

#introduction {
	background-color: $lightgreen;
	grid-area: introduction;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	p {
		font-size: 4em;
		font-family: $typewriter;
		line-height: 1.4em;
	}
}

.skillboxes {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: center;
}

.skillbox {
	border: 1px solid black;
	border-radius: 30px;
	padding: 1ch;
	margin-left: 2ch;
	margin-right: 2ch;
	background-color: $lightblue;
}

/* This is only for the doodle in the introduction */
.doodle {
}

html {
	width: 100%;
	height: 100%;
}
