$lightCyan: #468D9A;
$mediumCyan: #176776;
$darkCyan: #0E7373;
$Cyan: #1D9999;
$purple: #9668B0;
$charcoalGrey: #323232;
$lightTeal: #44A298;
$mediumTeal: #0D8376;
$darkerTeal: #046A5F;
$off-white: #CFCFCF;
$pattern-light-green: #64AF97;
$pattern-darker-green: #246D55;
$orange: #D36615;
$border: solid $charcoalGrey;
$headingFont: 'Amaranth', sans-serif;

html {
	height: 100%;
}

body {
	background-image: url('image/bryan-colosky-317764-unsplash.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-color: $off-white;
	font-size: 16px;
	font-family: 'Montaga', serif;
	height: 100%;
}

a {
	font-weight: bold;
}

a:link {
	color: $lightTeal;
}

a:visited {
	color: $lightTeal;
}

a:active {
	color: $purple;
}

a:hover {
	color: $purple;
}

p:last-child {
	margin-bottom: 0px;
}

img {
	width: 100%;
}

h1 {
	font-family: $headingFont;
}

h2 {
	font-family: 'Acme', sans-serif;
	font-size: 1.5em;
}

h3 {
	font-family: $headingFont;
	font-size: 1.2em;
	font-style: italic;
}

#credits {
	margin-left: 5%;
	margin-right: 5%;
}

#main-window {
	min-height: 100%;
	background-color: $off-white;
	border-left: 5px $border;
	border-right: 5px $border;
}


#about-me {
	padding-top: 5%;
	margin-left: 5%;
	margin-right: 5%;
}

#about-me-points {
	display: flex;
	justify-content: space-between;

	@media (max-width: 799px) {
		flex-direction: column;
	}
	@media (min-width: 800px) {
		flex-direction: row;
	}
}

.colored-text-content-box {
	border: 3px $border;
	border-radius: 7px;
	margin-bottom: 5%;
	padding: 5px;
	background-color: $mediumTeal;
	box-shadow: 7px 7px 7px #777777;
}

#projects {
	padding-top: 5%;
	margin-left: 5%;
	margin-right: 5%;
}

#project-box {
	display: flex;
	flex-direction: column;

	div {
		overflow: hidden;
	}

	div:last-child {
		margin-bottom: 0px;
	}

	.project {
		border: 3px $border;
		border-radius: 7px;
		opacity: 1;
		background-color: $mediumTeal;
		padding: 0 0 0 0;
		box-shadow: 7px 7px 7px #777777;

		@media (max-width: 769px) {
			.project-example-img {
				width: 100%;
				display: block;
			}

			.project-description {
				margin-top: 15px;
				margin-right: 0px;
				margin-bottom: 0px;
				margin-left: 0px;
				padding-top: 0px;
				padding-right: 15px;
				padding-bottom: 15px;
				padding-left: 15px;
			}
		}

		@media (min-width: 770px) {
			.project-example-img {
				width: 300px;
				height: 300px;
				float: left;
				text-align: left;
				margin-right: 15px;
			}

			.project-description {
				margin-top: 0px;
				margin-right: 0px;
				margin-bottom: 0px;
				margin-left: 15px;
				padding-top: 15px;
				padding-right: 15px;
				padding-bottom: 15px;
				padding-left: 0px;
			}
		}

		.project-tags {
			display: block;
			padding: 3px;
		}
	}
}

.project-link {
	font-family: 'Acme', sans-serif;
	font-size: 3em;
}

.project-tag {
	display: inline-block;
	font-size: 1em;
	background-color: $purple;
	border-radius: 10px;
	border: 1.5px $border;
	padding: 0px;
	img {
		height: 20px;
		width: 20px;
		display: inline-block;
		object-fit: contain;
		overflow: hidden;
		border-radius: 0px;
		vertical-align: middle;
	}
	.project-tag-language {
		display: initial;
		padding: 0px;
		vertical-align: middle;
		font-size: 0.9em;
		font-family: 'Acme', sans-serif;
	}
}

.project-header {
	font-weight: bold;
	display: block;
	font-family: 'Acme', sans-serif;
	font-size: 2em;
}

#welcometext {
	background-color: white;
}

#navigation-div {
	padding-top: 5px;
	margin-left: 5%;
	margin-right: 5%;
}

#navigation {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-size: 1.6em;
	font-family: 'Acme', sans-serif;
	div {
		min-width: 15%;
		text-align: center;
		border: 3px $border;
		border-radius: 7px;
		background-color: $mediumTeal;
	}
}

.space {
	width: 1px;
}

.row {
	width: 100%;
}
