.gameboard {
	width: 160px;
	height: 140px;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	margin-top: 4px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 4px;
	padding: 10px;
	border: 1px solid #e9e2d9;
	border-radius: 20px;
}

.highlighted {
	background-color: lightblue;
}

.dimmed {
	opacity: 50%;
}

input {
	width: 3ch;
	text-align: center;
}

.controls {
	margin-top: 4px;
	margin-left: auto;
	margin-right: auto;
}

#error-box {
	color: red;
	padding: 10px;
	min-width: 200px;
}

.tile {
	margin: auto;
}

.textbox {
	background-color: #e9e2d9;
	border-radius: 20px;
}

.payout {
	width: 106px;
}

.introduction {
	padding: 10px;
}

.left-side {
	display: flex;
	flex-direction: column;
}

table {
	padding: 10px;
}

img {
	border-radius: 50%;
}

.main-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}

.container-child {
	margin: 5px;
}

div {
	box-sizing: border-box;
}

body {
	background-color: #090908;
	color: #090908;
	padding: 1%;
}

.break {
	flex-basis: 100%;
	height: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


@media screen and (max-width: 599px) {
	.main-container {
		/*flex-direction: column; */
		max-width: 99%;
	}
	.left-side {
		max-width: 100%;
	}
	/*
	#error-box {
		display: block;
		flex-basis: 100%;
		min-width: 100%;
	}
	.payout {
		order: 2;
	} */
}

@media screen and (min-width: 600px) and (max-width: 734px) {
	.main-container {
		max-width: 90%;
		margin: auto;
		padding-top: 3%;
	}

	.left-side {
		max-width: 100%;
	}

	/*
	#error-box {
		display: block;
		flex-basis: 100%;
		min-width: 100%;
	}
	.payout {
		order: 2;
	} */
}

@media screen and (min-width: 735px) {
	.main-container {
		margin: auto;
		padding-top: 3%;
	}

	.left-side {
		max-width: 50%;
	}

	.break {
		display: hidden;
		flex-basis: 0%;
	}
}
